@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth; */
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #105774; */
  /* background: rgb(255, 255, 255, 0);   */
  /* @apply bg-blue-black dark:bg-amber-50; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: rgba(64, 179, 255, 0.822); */
  @apply dark:bg-arrow-blue bg-amber-400;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: rgb(64, 179, 255); */
  border-radius: 12px;
}

body::-webkit-scrollbar {
  /* display: none; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes bounceOrig {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
    transform: translateY(25%);
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

#down-arrow {
  animation: 1.5s bounceOrig infinite;
  /* animation-play-state: paused; */
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}

#up-arrow {
  animation: 1.5s bounceOrig infinite;
  /* animation-play-state: paused; */
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  @apply dark:text-arrow-blue text-black; 
}

#employment-entry:hover svg {
  transform: rotate(90deg);
}

#employment-entry svg {
  transition-duration: 0.75s;
}

/* 
below is code for bouncing down arrow only on hover, to enable
uncomment below and swap the animation play state in the above code
*/
/* #down-arrow:hover {
  animation-play-state: running;
} */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@layer base {
  body {
    @apply dark:bg-blue-black bg-amber-50;
  }
  header {
    @apply dark:bg-header-gray bg-amber-100;
  }
  svg {
    @apply dark:text-arrow-blue text-amber-400;
  }
  #github {
    @apply dark:text-arrow-blue text-black;
  }
  #linkedin {
    @apply dark:text-arrow-blue text-black;
  }
  #twitter {
    @apply dark:text-arrow-blue text-black;
  }
  #facebook {
    @apply dark:text-arrow-blue text-black;
  }
  #instagram {
    @apply dark:text-arrow-blue text-black;
  }
  #themeSwitch {
    @apply dark:text-arrow-blue text-black;
  }
}